{
  "PublisherId": "CN=22136847-9E88-4C9F-AFE6-0D2FD7F13B06",
  "PublisherDisplayName": "Fluffy Blade Games",
  "PackageIdentityName": "13725FluffyBladeGames.85712F4F4AE6",
  "DisplayName": "Cube Fighter 2",
  "AppId": "9N1CN37Q1K7H",
  "ProductFamilyName": "13725FluffyBladeGames.85712F4F4AE6_m4nfe564bd4s8",
  "PrimaryServiceConfigId": "00000000-0000-0000-0000-0000758bdee9",
  "TitleId": 1972100841,
  "Sandbox": "JGXKSR.0",
  "Environment": null
}